.table-custom {
    background-color: var(--color-default-white);
    max-width: calc(100vw - 7rem);
    overflow-x: auto;

    + .table-custom {
        margin-top: 2rem;
    }

    @include vp-1200 {
        max-width: calc(92.5vw - 33.2rem);
    }
}

.table-custom_table {
    margin-bottom: 0;
    font-weight: 500;
    color: var(--color-dark-grey);

    tr + tr {
        border-top: 0.1rem solid var(--color-super-pale-grey);
    }

    th {
        padding-bottom: 1rem;
        color: var(--color-default-black);

        @include vp-768 {
            padding-bottom: 1.5rem;
        }
    }

    td {
        padding: 1.3rem 1rem;

        @include vp-768 {
            padding: 1.9rem 1rem;
        }
    }
}
