<div class="site-modal js-modal" data-modal="js-modal-1">
    <form class="site-modal_wrapper">
        <button type="button" class="close-button js-modal-close">
            <img src="img/svg/close-button.svg" alt="закрыть">
        </button>
        <h3 class="h3 mb-5 site-modal_title">Создать магазин</h3>
        <div class="site-modal_container d-flex flex-column flex-md-row mb-5">
            <div class="flex-grow-1">
                <h4 class="h4 mb-3">Шаблон</h4>
                <select class="form-select select" aria-label="Default select example">
                    <option selected>Стандартный</option>
                    <option value="1">Продвинутый</option>
                    <option value="2">Все всключено</option>
                    <option value="3">Эконом</option>
                </select>
            </div>
            <div class="flex-grow-1">
                <h4 class="h4 mb-3">Цветовая схема</h4>
                <select class="form-select select" aria-label="Default select example">
                    <option selected>Классическая</option>
                    <option value="1">Темная</option>
                    <option value="2">Неоновая</option>
                    <option value="3">Красная</option>
                </select>
            </div>
        </div>
        <h4 class="h4 mb-3">Домен</h4>
        <div class="domen-input mb-5">
            <input class="domen-input_input input form-control" type="text" placeholder="Например: ivangrozniy">
            <span class="domen-input_name button">.work5.ru</span>
        </div>
        <div class="d-flex mb-5">
            <img class="me-4" src="img/svg/warning.svg" alt="внимание" width="52" height="52">
            <p class="fs-12">В названии домена разрешены латиница и “-”, запрещается использовать словосочетание Work 5.
                После
                создания магазина Вы сможете прикрутить свой домен (например ivangrozniy.ru). Подробнее по <a href="#"
                    class="color-violet">ссылке</a></p>
        </div>
        <button class="button site-modal_button d-inline-flex js-modal-close width-100-mob mb-4 mb-md-0 me-md-3" type="button">Отмена</button>
        <button class="button site-modal_button button--grey d-inline-flex width-100-mob" type="button">Создать</button>
        </button>
    </form>
</div>
