<article class="side-menu js-side-menu">
    <div class="side-menu_wrapper js-side-menu_wrapper">
        <button class="burger side-menu_burger d-xl-none js-burger">
            <span class="burger_open"></span>
            <span class="burger_close"></span>
        </button>
        <a class="side-menu_logo-link mb-5" href="#">
            <img src="img/svg/logo.svg" width="82" height="68" alt="логотип">
        </a>
        <nav class="nav-menu js-nav-menu">
            <a class="nav-menu_item" href="#">
                <svg class="nav-menu_icon" width="21" height="21">
                    <use xlink:href="#house"></use>
                </svg>
                <span class="nav-menu_text">Главная</span>
            </a>
            <a class="nav-menu_item active" href="#">
                <svg class="nav-menu_icon" width="21" height="21">
                    <use xlink:href="#cart"></use>
                </svg>
                <span class="nav-menu_text">Мои магазины</span>
            </a>
            <a class="nav-menu_item" href="#">
                <svg class="nav-menu_icon" width="21" height="21">
                    <use xlink:href="#megafon"></use>
                </svg>
                <span class="nav-menu_text">Промоматериалы</span>
            </a>
            <a class="nav-menu_item" href="#">
                <svg class="nav-menu_icon" width="21" height="21">
                    <use xlink:href="#stats"></use>
                </svg>
                <span class="nav-menu_text">Статистика</span>
            </a>
            <a class="nav-menu_item" href="#">
                <svg class="nav-menu_icon" width="21" height="21">
                    <use xlink:href="#wallet"></use>
                </svg>
                <span class="nav-menu_text">Баланс</span>
            </a>
            <a class="nav-menu_item" href="#">
                <svg class="nav-menu_icon" width="21" height="21">
                    <use xlink:href="#person"></use>
                </svg>
                <span class="nav-menu_text">Персональные данные</span>
            </a>
            <a class="nav-menu_item" href="#">
                <svg class="nav-menu_icon" width="21" height="21">
                    <use xlink:href="#question"></use>
                </svg>
                <span class="nav-menu_text">FAQ</span>
            </a>
            <a class="nav-menu_item" href="#">
                <svg class="nav-menu_icon" width="21" height="21">
                    <use xlink:href="#headset"></use>
                </svg>
                <span class="nav-menu_text">Техподдержка</span>
            </a>
            <a class="nav-menu_item" href="#">
                <svg class="nav-menu_icon" width="21" height="21">
                    <use xlink:href="#logout"></use>
                </svg>
                <span class="nav-menu_text">Выход</span>
            </a>
        </nav>
    </div>
</article>
