<div class="table-custom shadow p-lg-4 p-3 rounded">
    <table class="table table-borderless align-middle table-custom_table">
        <thead>
          <tr>
            <th scope="col">№</th>
            <th scope="col">Название</th>
            <th scope="col">Адрес</th>
            <th scope="col">Действие</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">12345</td>
            <td>Дипломная работа</td>
            <td><a href="http://www.work5.ru/services">http://www.work5.ru/services</a></td>
            <td>
                <div class="d-flex">
                    <button class="button d-inline-flex me-3">
                        <img class="button_icon" src="img/svg/pen.svg" width="16" height="16">
                        Редактировать</button>
                    <button class="button button--grey d-inline-flex">
                        <img class="button_icon" src="img/svg/cancel.svg" width="16" height="16">
                        Редактировать</button>
                    </button>
                </div>
            </td>
          </tr>
          <tr>
            <td scope="row">12345</td>
            <td>Дипломная работа</td>
            <td><a href="http://www.work5.ru/services">http://www.work5.ru/services</a></td>
            <td>
                <div class="d-flex">
                    <button class="button d-inline-flex me-3">
                        <img class="button_icon" src="img/svg/pen.svg" width="16" height="16">
                        Редактировать</button>
                    <button class="button button--grey d-inline-flex">
                        <img class="button_icon" src="img/svg/cancel.svg" width="16" height="16">
                        Редактировать</button>
                    </button>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
</div>

